@font-face {
    font-family: Jost;
    src: 
    url('./fonts/Jost-Regular.woff2') format('woff2'),
    url('./Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lexend Zetta;
    src: 
    url('./fonts/Lexend-Zetta-Regular.woff2') format('woff2'),
    url('./Lexend-Zetta-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: Inter;
    src: 
    url('./Inter-Regular.woff') format('woff2'),
    url('./Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
